* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-asx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    background-color: #0F172A;
  }
  
  header {
    margin-bottom: 24px;
  }
  
  header #h1-text{
    text-align: center;
    background-color: #5898ff;
    color: #120b18;
    width: 100%;
  }
  
  #quiz {
    counter-reset: quiz-item;
  
  }
  
  main {
    margin-bottom: 89px;
  }

  .quiz-item {
    max-width: 540px;
    margin: 0 auto 24px;
  
    border: 1px solid #475569;
    border-radius: 5px;
  
    overflow: hidden;
  }
  
  .quiz-item h3 {
    padding: 10px 10px;
    color: #c5cad1;
  
    display: flex;
    align-items: center;
    gap: 10px;
  
    background-color: #1E293B;
  }
  
  .quiz-item h3:before {
    counter-increment: quiz-item;
    content: counter(quiz-item);
    
    width: 26px;
    height: 26px;
    font-size: 14px;
    background-color: #475569;
    border-radius: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .quiz-item dl {
    padding: 20px 24px;
  
    display: grid;
    gap: 6px;
  }
  
  .quiz-item dl dt {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    color: #c5cad1;
  
    display:flex;
    align-items: center;
    gap: 8px;
  }
  
  input {
    all: unset;
    border: 1px solid #94A3B8;
    width: 16px;
    height: 16px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  input:checked {
    border: 1px solid #5898ff;
  }
  
  input:checked:before {
    content: "";
    width: 10px;
    height: 10px;
  
    background-color: #5898ff;
    border-radius: 50%;
  }
  
  #corrects {
    text-align: center;
    background-color: #5898ff;
  
    position: fixed;
    bottom: 0;
    left: 0;
  
    width: 100%;
    padding: 12px;
  }

  .allCorrects {
    background-color: #04ff3a !important;
  }